.image1{
    max-width: 900px;
    max-height: 500px;
    width: 100%;
    height: auto;
}

.savedbuildsspecs{
    background-color: rgb(16,16,16);
}

.savedpart, .savedname, .savedprice{
    color: white;
    font-family: 'Syne', sans-serif;
}

.addtofav, .goback{
    width: 300px;
}

.savedviewspecification{
    background-color: black;
    color: white;
    border: none;
    padding: 7px 38px;
    font-size: 1.3rem;
    font-family: 'Syne', sans-serif;
    transition: background-color .5s, color .5s;
}

.savedviewspecification:hover{
    background-color: rgb(241, 90, 36);
    color: black;
}

.content{
    color: white;
    font-family: 'Syne', sans-serif;
}

.detailtext{
    color: rgb(241, 90, 36);
}
